<!DOCTYPE html>
<html>
<head>
  <title>JwAlipay</title>
  <%= stylesheet_link_tag    "jw_alipay/application", :media => "all" %>
  <%= javascript_include_tag "jw_alipay/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
